.catalog{
    margin-bottom: 10px;
}

.card{
    height:100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.card:hover{
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.card-body {
    padding: 0 20px;
    margin-bottom: 20px;
}

.btn{
    width: 100%;
    background: #EF7560;
    color: #fff;
    margin: 20px 0 0 0;
    padding: 15px 0;
    font-size: 0.9em;
    display: block!important;
    float: left;
    position: relative;
    border: 1px solid #EF7560;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}